<% content_for :page_title,  "About Us" %>

<div class = "section row">
  <div class = "intro">
    <h1>Contact Information</h1>
    <h1> </h1>
    <div class = "introbody">
      <p> Filler Lol</p>
    </div>
    <div class = "sluglifelogo">

    </div>
  </div>
</div>
