<% content_for :page_title,  "About Us" %>

<div class = "section row">
  <div class = "intro">
    <h1>Our Mission</h1>
    <h1> </h1>
    <div class = "introbody">
      <p>Art is the most important thing in this world. It is a universal language
        which goes beyond words to convey messages which we all humans can understand, relate
        to, and interpret in our own ways.
      </p>
      <p>Our goal is to provide passionate creators with a platform to share their
        talents with the rest of the world.
      </p>
    </div>
    <div class = "sluglifelogo">

    </div>
  </div>
</div>

<div class = "section row">
  <div class = "gregpic column">
    <%= image_tag "greglol.png" %>
  </div>
  <div class= "gbork column">
    <h1> Gregory Bork </h1>
    <h3> HEADING 3 </h3>
    <h6>University of California, Santa Cruz</h6>
    <h6>Computer Science B.S.</h6>
    <p> TEST 1 </p>
    <p> TEST 2 </p>
  </div>
</div>
