<% content_for :page_title,  "About Us" %>

<div class = "section">
  <div class = "intro">
    <h1>Meet The Team</h1>
    <div class = "introbody">
      <p>Say what's up to the biggest degenerates you know and love.
        To be honest, it's damn near impressive that all three of us
        are even still alive after almost four years of this top tier
        fuckery.
      </p>
      <p> Nonetheless, when I, and many others
      alike first laid eyes on that beautiful slug on those huge tits, my faith in
      humanity and our capacity for good was restored that moment.</p>
    </div>
    <div class = "sluglifelogo">

    </div>
  </div>
</div>

<div class = "section row">
  <div class= "gbork column">
    <h1>Gregory Bork</h1>
    <h3>Founder and CEO of Slug Life</h3>
    <h4>University of California, Santa Cruz</h4>
    <h6>Computer Science B.S.</h6>
    <h6>The straightest guy I know</h6>
    <p>Slug Life started off as simply a semi-faded idea for Gregory "Borkchop" Bork.
       Little did he know at that fateful moment, Mr. Grog had stumbled upon the first
       sight of his eventual life's work. Within a mere few weeks, through his artistic genius,
       Greg was able to design the most visionary Rip N' Dip rip off known in the history of man.</p>
    <p>Leading the charge with his pioneering vision and fearlessness, Mr. Bork is now the leader of a
      multi-dollar company, ready to take Silicon Valley by storm. </p>
  </div>
  <div class = "gregpic column">
  </div>
</div>
