/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */


 @import "bootstrap";
 @import "font-awesome";

   .navbar {
      background-attachment: fixed;
      background-color: #2e9af2;
      background-size:fill;
      position: absolute;
      width: fill;
      height:10%;
      left: 50%;
      font-size: 200;
      transform: translatex(-50%);
      color:black;
      margin-bottom:80px;
   }

   .navtext{
     font-size:20px;
     color: white;
   }

   .navtext:hover {
     font-style: oblique;

    color: #F8C84A;
     -webkit-transform: scaleX(-1);
     transform: scaleX(-1);
   }

   .navcart{
     font-size: 50px;
     color: #F8C84A;
     float: right;
     vertical-align:center;
   }

   .logo{
     height: 90%;
   }

   .logo:hover{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  font-style: oblique;
}

.cart{
  float: right;
}
