
<div class = "npad"> </div>
  <div class="conatiner">
    <div class="wrap">
      <% @product.each do |prod| %>
      <div class="box">
       <div class = "prod_img">
            <div class="info">

                             <button class="button" name="cart">
                                  <%= link_to 'VIEW', prod, class: "vbutton"  %>
                             </button>

            </div>
            <div class = "subtitle"><%= prod.title %>
            <div class = "subprc"> $ <%= prod.price %>0</div></div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
