<% content_for :product_title,  @product.title %>



<div>
  <div class = "prodhead"><h1>
   </h1></div>
  <div class = "prodinfo">
  <div class = 'prodcol prodleft teeone'></div>
  <div class = 'prodcol prodright'>
    <div class = "prodtitle">
      <h2>
        <%= @product.title %>
      </h2>
      <div class="proddesc">
        <%= @product.description %>
        <div class = "proddetails"> 100% Slug </div>

      </div>
        <div><button class = "atcbtn"> ADD TO CART </button>
      </div>
    </div>
  </div>
  </div>
</div>
