<% content_for :prod_title,  @prod.title %>

<div class = "content">
  <div class = "desc">
    <div class="title">
      <%= prod.title %>
    </div>
    <div class="info">
      <%= prod.description %>
      <div><button class="button" name="cart">ADD TO CART</button></div>
    </div>
  </div>
</div>
